{
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "reactRuntime": "automatic"
            }
        ]
    ],
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "jsx"
                ]
            }
        ]
    ]
}
